<!DOCTYPE html>
<html>
<head>
  <title>INFO257 - Final Project User Interface</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="navigation" class="ui purple inverted menu">
    <a class="<% if request.fullpath == '/' %>active <% end %>item" href="<%= root_path%>">
      <i class="red star icon"></i> Info 257 Final
    </a>
    <span class="disabled item">
      <i class="superscript icon"></i> Tiffany Yen
    </span>
    <span class="disabled item">
      <i class="terminal icon"></i> Rae Liu
    </span>
    <a class="<% if request.fullpath == related_hashtags_path %>active <% end %>item" href="<%= related_hashtags_path %>">
      <i class="blue tags icon"></i> Related hashtags
    </a>
    <a class="<% if request.fullpath == related_hashtags_path %>active <% end %>item" href="<%= related_hashtags_path %>">
      <i class="red apple icon"></i> Who updated?
    </a>
    <a class="<% if request.fullpath == related_hashtags_path %>active <% end %>item" href="<%= related_hashtags_path %>">
      <i class="green users icon"></i> Who was mentioned?
    </a>
  </div>

  <div class="content">
    <%= yield %>
  </div>
  <%= render 'tweet_modal' %>
</body>
</html>
